<ul>
    <li>Title: $book.getTitle()</li>
    <li>Author: $book.getAuthor()</li>
    <li>On Loan: $book.getOnLoan() </li>
    <li>Current Borrower: #if ($book.getOnLoan())
        $book.getCurrentBorrower()
        #else NA
        #end
    </li>
</ul>

<a href="/books/$book.getId()/edit">EDIT</a>
<a href="/books/$book.getId()/rent">RENT</a>
<a href="/books/$book.getId()/delete">DELETE</a>


